<div class="container mt-10">
    <h2 class="text-3xl font-semibold mb-8 text-slate-700 ">About</h2>
    <div class="font-medium text-slate-700 prose prose-slate hover:prose-a:text-blue-800 prose-a:text-blue-700">
        <p class="mb-2">This website is a CRUD for super heroes. </p>
        <div>It was created based on
            <a href="https://angular.io/tutorial/tour-of-heroes">Tour of Heroes </a> tutorial with the object of
            improving mine angular and CSS skills.

        </div>
        <h3 class="mt-5 ">Stack:</h3>
        <ul>
            <li>Front-end: HTML and Angular.</li>
            <li>Style: CSS with Tailwind.</li>
            <li>Back-end: Next hosted on Vercel. </li>
            <li>Database: PostgreSQL hosted on Supabase.</li>
            <li>Image Creation: OpenAi API. </li>
        </ul>
        <p class="text-sm">
            (I could have used an NodeJs server with Express to the back-end. But I already knew
            how to hosted Next in Vercel, so I was lazy)
        </p>
    </div>
</div>