<div *ngIf="hero" class="bg-[#d7e0d2] min-h-[calc(100vh_-_50px)]" >
    <div class="pt-10 md:pb-5 pb-1 mb-3 " [ngClass]="hero.color | getBgHeroName">
        <div class="md:grid grid-cols-[218px_auto_auto]  gap-10 container">
            <div></div>
            <div class="md:absolute -mt-3 ">

                <img [alt]="hero.name" [src]="hero.id | getImgUrl" width="220"
                    class=" rounded-lg shadow object-cover mb-2 mx-auto md:w-[220px] w-[172px] " style="aspect-ratio: 6 / 7;"
                    onError="this.src='https://dgufziqjubvbckrlwnjj.supabase.co/storage/v1/object/public/hero-back-end/user?t=2023-09-06T23%3A10%3A42.386Z'" />

                <button *ngIf="!editMode" type="button" (click)="goBack()"
                    class="px-2 text-slate-600 text-sm font-medium hidden md:flex">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <p>go back</p>
                </button>

                <div *ngIf="editMode" class="hidden items-center gap-4 md:flex pl-2">
                    <button type="button" (click)="saveChanges()"
                        class="px-3 py-1 text-primary text-xl bg-accent hover:bg-accent-brigther rounded-3xl flex items-center">
                        <mat-icon *ngIf="!isUpdating">check</mat-icon>
                        <div *ngIf="isUpdating" class="pr-1">
                            <mat-spinner [diameter]="25"></mat-spinner>
                        </div>

                        <p>Save</p>
                    </button>

                    <button type="button" class="px-3 py-1 text-xl rounded-3xl border-2 text-slate-500 border-slate-500"
                        (click)="changeMode()">
                        <p>Cancel</p>
                    </button>
                </div>

            </div>

            <h2 class=" text-4xl capitalize md:text-left text-center text-slate-50">{{hero.name }}</h2>

            <button (click)="changeMode()" [disabled]="editMode"
                class="flex items-center justify-self-end disabled:invisible ml-auto md:ml-0 pt-1 md:pt-0 text-slate-50">
                <span class="mr-1">Edit</span>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
    <div class="md:grid grid-cols-[218px_auto]  gap-10 container min-h-[200px] text-slate-800 h-full">
        <div></div>
        <div>
            <div class="max-w-[500px]">
                <div>
                    <div class="text-lg flex items-center gap-2 ">
                        <label for="heroName" class="font-[550]">Name: </label>
                        <span *ngIf="!editMode" class="capitalize">{{hero.name}}</span>
                        <input *ngIf="editMode" required name="heroName" id="heroName" minlength="1"
                            class="mb-1 disabled:text-slate-600 py-[1px] text-lg capitalize rounded-lg border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm"
                            type="text" [(ngModel)]="formHero.name" [attr.disabled]="isUpdating" />
                    </div>
                    <p *ngIf="formHero.name.length == 0" class="text-red-500">Invalid name</p>
                </div>

                <div class="mb-5">
                    <div class="text-lg  flex items-center gap-2 ">
                        <label for="power" class="font-[550]">Power: </label>
                        <span *ngIf="!editMode">{{hero.power}}</span>
                        <input *ngIf="editMode" required
                            class="disabled:text-slate-600 py-[1px] text-lg rounded-lg border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm"
                            type="text" [(ngModel)]="formHero.power" [attr.disabled]="isUpdating" />
                    </div>
                    <p *ngIf="formHero.power.length == 0" class="text-red-500">Invalid Power</p>
                </div>

                <div class="flex items-center gap-2 ">
                    <label for="alter-name" class="font-[550] whitespace-nowrap">Alter Ego: </label>
                    <span *ngIf="!editMode">{{hero.alter_ego}}</span>
                    <input *ngIf="editMode"
                        class="mb-1 disabled:text-slate-600 py-[1px] text-lg  rounded-lg border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm"
                        type="text" [(ngModel)]="formHero.alter_ego" [attr.disabled]="isUpdating" />
                </div>

                <div *ngIf="editMode || (hero.age && hero.age.length > 0)" class="flex items-center gap-2">
                    <label for="gender" class="font-[550]">Age: </label>
                    <span *ngIf="!editMode">{{hero.age}}</span>
                    <select *ngIf="editMode" required
                        class="mb-1 disabled:text-slate-600 py-[1px]  rounded-lg border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm"
                        type="text" [(ngModel)]="formHero.age" [attr.disabled]="isUpdating">
                        <option value=""></option>
                        <option value="child">Child</option>
                        <option value="teenager">Teenager</option>
                        <option value="adult">Adult</option>
                        <option value="old">Old</option>
                        <option value="ancient">Ancient</option>
                        <option value="vampire loli">Vampire Loli</option>
                    </select>
                </div>

                <div class="flex items-center gap-2">
                    <label for="gender" class="font-[550]">Gender: </label>
                    <span *ngIf="!editMode">{{hero.gender}}</span>
                    <select *ngIf="editMode" required class="mb-1 disabled:text-slate-600 py-[1px] rounded-lg
                        border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm" type="text"
                        [(ngModel)]="formHero.gender" [attr.disabled]="isUpdating">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="non binary">Non Binary</option>
                        <option value="no genre">No Genre</option>
                    </select>
                </div>


                <div *ngIf="editMode || hero.color" class="flex items-center gap-2">
                    <label for="gender" class="font-[550]">Color: </label>
                    <span *ngIf="!editMode">{{hero.color}}</span>
                    <select *ngIf="editMode" required
                        class="mb-1 disabled:text-slate-600 py-[1px]  rounded-lg border-transparent focus:border-secondary focus:ring-0 w-full shadow-sm"
                        type="text" [(ngModel)]="formHero.color" [attr.disabled]="isUpdating">
                        <option value=""></option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="purple">Purple</option>
                    </select>
                </div>


            </div>
            <p class=" mt-4">{{hero.backstory}}</p>


        </div>

        <div *ngIf="editMode" class="flex items-center gap-4 md:hidden pt-4 pl-2">
            <button type="button" (click)="saveChanges()"
                class="px-3 py-1 text-primary text-xl bg-accent hover:bg-accent-brigther rounded-3xl flex items-center">
                <mat-icon *ngIf="!isUpdating">check</mat-icon>
                <div *ngIf="isUpdating" class="pr-1">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>

                <p>Save</p>
            </button>

            <button type="button" class="px-3 py-1 text-xl rounded-3xl border-2 text-slate-500 border-slate-500"
                (click)="changeMode()">
                <p>Cancel</p>
            </button>
        </div>
    </div>
</div>

<div class="h-[40px]"></div>