<div class=" bg-secondary text-primary text-xs w-screen py-1 transition-all hidden sm:block h-[45px]"
  [id]="this.messageId">
  <div class="flex justify-between h-full container-nav" >
    <div class="absolute">
      <div @addMessage *ngFor='let messages of messageService.messages' class="relative">
        <p>{{messages}}</p>
      </div>
    </div>
    <div></div>
    <div class="flex items-center flex-row-reverse gap-10 ">
      <button (click)="this.close()" class="flex items-center">
        <mat-icon class=" hover:text-accent">highlight_off</mat-icon>
      </button>
      <button (click)="messageService.clear()"
        class="flex items-center hover:border-accent hover:text-accent border-primary border-2 px-2 rounded-3xl ">
        <p>Clear Messages</p>
      </button>

    </div>
  </div>
</div>