/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #F1F7ED;
    height: 100%;
}

body {
    color: #0E1513;
}


@layer components {
    .thick-shadow {
      box-shadow: rgb(100, 100, 100) 0px 25px 8px -10px;
    }

    .container-nav {
        max-width:min(calc(100vw - 40px), 800px);
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        max-width:min(calc(100vw - 40px - 2rem), calc(800px - 2rem));
        margin-left: auto;
        margin-right: auto;
    }

    .container-top-heroes {
        max-width:min(calc(100vw - 40px - 6rem), calc(800px - 6rem));
        margin-left: auto;
        margin-right: auto;
    }
}