<div class="z-10 md:pt-36 sm:pt-28 pt-20 flex justify-center">
    <div class="md:mx-0 mx-4">
        <h1 class="font-semibold sm:text-6xl text-5xl">Create your <span class="text-red-700">Super Hero</span></h1>
        <h2 class="font-semibold sm:text-3xl text-2xl md:pl-5 pl-3 pt-1 ">with just one click.</h2>
        <div class="flex px-5 pt-8 items-start justify-between">
            <a class=" bg-blue-500 border-4 font-medium hover:bg-blue-700 text-primary rounded-3xl px-4 py-1 text-2xl"
                routerLink="/add">Start Here</a>

        </div>
    </div>
</div>


<div class=" bg-[0_-50px] top-0 left-0 pointer-events-none w-full h-full absolute bg-cover bg-repeat min-h-[calc(100vh_-_50px)]  opacity-[15%] bg-blend-multiply grayscale-[90%] "
    style="background-image: url('https://dgufziqjubvbckrlwnjj.supabase.co/storage/v1/object/public/hero-back-end/bg')">

    <div
        class=" bg-gradient-to-tl from-transparent via-slate-700  from-20% to-slate-700  top-0 left-0 pointer-events-none w-full h-full absolute">

    </div>

</div>