<div class=" bg-[#d7e0d2] min-h-[calc(100vh_-_50px)] z-10 md:pt-36 sm:pt-28 pt-20 flex justify-center">
    <div class="md:mx-0 mx-4">
        <h1 class="font-semibold sm:text-6xl text-5xl">Create your <span class="text-red-700">Super Hero</span></h1>
        <h2 class="font-semibold sm:text-3xl text-xl md:pl-5 pl-3 pt-1 ">using AI with just one click.</h2>
        <div class="flex px-5 pt-8 items-start justify-between">
            <a class=" bg-accent border-4 font-medium hover:bg-accent-brigther text-primary rounded-3xl px-4 py-1 text-2xl"
                routerLink="/add">Start Here</a>

        </div>
    </div>
</div>


<div class=" bg-[0_-50px] top-0 left-0 pointer-events-none w-full h-full opacity-[15%] absolute min-h-[calc(100vh_-_50px)]   grayscale-[90%] "
    style="
        background-image:  url('https://dgufziqjubvbckrlwnjj.supabase.co/storage/v1/object/public/hero-back-end/bg');
        background-repeat: repeat;
        background-size:  683px 455px;
        mask: linear-gradient(to bottom right,transparent,70%,#d7e0d2 );
        mask-image: linear-gradient(to bottom right,transparent,70%,#d7e0d2 );
        -webkit-mask-image: linear-gradient(to bottom right,transparent,70%,#d7e0d2 );
        "
        >
</div>